Source: qtwitter
Section: net
Priority: extra
Maintainer: Anna Nowak <wiorka@gmail.com>
Build-Depends: libc6-dev (>= 2.9-4ubuntu6 ), libqt4-dev (>= 4.5.0-0ubuntu4.1 ), libstdc++6-4.3-dev (>= 4.3.3-5ubuntu4 ), linux-libc-dev (>= 2.6.28-12.43 )
Standards-Version: 3.8.0
Homepage: http://qtwitter.ayoy.net

Package: qtwitter
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Qt client for Twitter.
 This is a standalone client for Twitter (twitter.com) social network.
