Source: qtwitter
Section: net
Priority: extra
Maintainer: Dominik Kapusta <d@ayoy.net>
Build-Depends: debhelper (>= 7), libqt4-dev (>= 4.4.3-1 ), libstdc++6-4.3-dev (>= 4.3.2-1.1 ), linux-libc-dev (>= 2.6.26-13lenny2 ), libqoauth0-dev (>= 0.1.0-1 )
Standards-Version: 3.7.3
Homepage: http://qtwitter.ayoy.net

Package: qtwitter
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A Qt client for Twitter and Identi.ca.
 This is a standalone client for Twitter (twitter.com) and Identi.ca social networks.


